#mainmenu {
    margin: 20px 0px 0px 12px;
    padding: 12px;
}
.menu {
    margin: 0px;
    padding: 0px;
}
.menu a {
    font-family: Arial;
    font-size: 20px;
    color: black;
    text-decoration: none; /*подчеркивания*/
    display: block;
    padding: 15px;
}
.menu a:hover {
    color:white;
}
.menu li {
    background: #daacda;
    box-shadow: 0 5px 10px black; /*тень*/
    position: relative;
    float: left;
    list-style: none; /*маркеры*/
}
.menu ul {
    position: absolute;
    left: 0;
    display: none;
}
.menu li:hover ul {
    display: block;
}
.menu2 li {
    background: black;
}
.menu2 a {
    color: #E4717A;
}
.menu3 li{
    background: #d2b48c;
}
.menu3 a {
    color: #ffec00;
}